@import "tailwindcss";

:root {
  --color-absolute_black: #000000;
  --color-absolute_white: #ffffff;
  --color-purple_60: #703bf7;
  --color-purple_65: #1a64ff;
  --color-purple_70: #ff9533;
  --color-purple_75: #a685fa;
  --color-purple_90: #ffe4cc;
  --color-purple_95: #fff1e5;
  --color-purple_97: #fff7f0;
  --color-purple_99: #fffcfa;
  --color-white_90: #e4e4e7;
  --color-white_95: #f1f1f3;
  --color-white_97: #f7f7f8;
  --color-white_99: #fcfcfd;
  --color-gray_08: #141414;
  --color-gray_10: #1a1a1a;
  --color-gray_15: #262626;
  --color-gray_20: #333333;
  --color-gray_30: #4d4d4d;
  --color-gray_40: #666666;
  --color-gray_50: #808080;
  --color-gray_60: #999999;
}

@theme {
  --breakpoint-xs: 320px;
  
}

@layer components {
  .heroInteractiveCard {
    @apply flex  flex-col items-center   lg:items-start justify-center bg-[var(--color-gray_10)] border-[1px] border-[var(--color-gray_15)] rounded-xl px-4 py-4 md:px-5 md:py-[14px] xl:px-6 xl:py-4 w-full  sm:w-[173px]  md:w-[193px] xl:w-[240px] h-[91px] md:h-[99px] xl:h-[121px];
  }
  .aboutInteractiveCard {
    @apply flex  flex-col items-center   lg:items-start justify-center bg-[var(--color-gray_10)] border-[1px] border-[var(--color-gray_15)] rounded-xl px-4 py-4 md:px-5 md:py-[14px]  w-full  sm:w-[173px]  md:w-[193px]  h-[91px] md:h-[99px] ;
  }

  .embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__dots {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: flex-end; */
  align-items: center;
  gap: 0.6rem;
  /* margin-right: calc((2.6rem - 1.4rem) / 2 * -1); */
}

.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem #cacaca;
  background-color: #000;
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 13rem;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  background-color: #dedede;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  @apply w-full
}



}
